$white: #fff;
$black: #000;
$blue: #287fb8;
$blue2: #61dafb;
$orange: #ed6504;
$orange2: #e49723;
$orange-light: #f1cb85;
$grey-extra-light: #a9a9a9;
$grey-light: #e6e6e6;
$grey-light2: #bfcad2;
$grey-light3: #929eae;
$grey-light4: #f1efea;
$grey-light5: #fdf7e7;
$grey-light6: #fbfbfb;
$grey-medium: rgba(0, 0, 0, 0.15);
$grey-dark: #282c34;
$grey-dark2: #1b2027;
$grey-medium4: #27374c;
$grey-medium2: #363c48;
$grey-medium3: #34495e;

$experience-positive: #41b866;
$experience-neutral: #929dad;
$experience-negative: #c63d43;
