.App-landing-section {
  align-items: center;
  background-color: #282c34;
  border: 5px solid transparent;
  color: #fff;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  justify-content: center;
  min-height: 100vh;
  text-align: center;
}

.App-landing-section a {
  color: #61dafb;
  text-decoration: none;
}

.App-landing-section a:hover,
.App-landing-section a:active,
.App-landing-section a:focus {
  color: #fff;
}
