@import '_colors.scss';

.App-landing-section {
  align-items: center;
  background-color: $grey-dark;
  border: 5px solid transparent;
  color: $white;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  justify-content: center;
  min-height: 100vh;
  text-align: center;
}

.App-landing-section a {
  color: $blue2;
  text-decoration: none;

  &:hover,
  &:active,
  &:focus {
    color: $white;
  }
}
