.Section {
  background-color: #fff;
  border-bottom: 2px solid rgba(0,0,0,0.15);
  border-radius: 2px;
  margin: 10px auto;
  max-width: 980px;
}

.Section p {
  margin: 0 0 1em 0;
}

.Section-heading {
  padding: 20px;
  border-bottom: 1px solid #e6e6e6;
  font-size: 1em;
  text-transform: uppercase;
  word-break: break-word;
  font-weight: bold;
}

.Section-content {
  overflow-wrap: break-word;
  padding: 20px;
  word-break: break-word;
}

h3 .Anchor {
  display: none;
}

h3:hover .Anchor {
  display: inline;
}
