.Section {
  background-color: #fff;
  border-bottom: 2px solid rgba(0,0,0,0.15);
  border-radius: 2px;
  margin: 10px auto;
  max-width: 980px;
}

.Section p {
  margin: 0 0 1em 0;
}

.Section-heading {
  padding: 20px;
  border-bottom: 1px solid #e6e6e6;
  font-size: 1em;
  text-transform: uppercase;
  word-break: break-word;
  font-weight: bold;
}

.Section-content {
  overflow-wrap: break-word;
  padding: 20px;
  word-break: break-word;
}

h3 .Anchor {
  display: none;
}

h3:hover .Anchor {
  display: inline;
}

.Tabs {
  margin: 0;
  padding: 0;
  list-style: none;
  padding: 10px 20px;
}

.Tabs li {
  display: inline-block;
  margin: 10px 30px 10px 0;
  vertical-align: middle;
}

.Tabs li a {
  background: none;
  border: 0;
  border-bottom: 2px solid transparent;
  color: #287FB8;
  cursor: pointer;
  font-size: 1em;
  margin: 0;
  outline: none;
  padding: 5px 0;
}

.Tabs li a.is-active,
.Tabs li a:hover,
.Tabs li a:focus {
  color: #ed6504;
}
.Tabs li a.is-active {
  border-color: rgba(0,0,0,0.15);
}
