@import '_colors.scss';

.Intro {
  h1 {
    font-size: 2em;
    font-weight: 300;
    margin: 10px 40px;
  }
  h2 {
    font-size: 1em;
    font-weight: 300;
    margin: 10px 40px;
  }
}

a.Intro-by-link {
  font-size: 0.9em;
  color: $grey-extra-light;
  span {
    text-decoration: underline;
  }
}

.Intro-logo {
  height: 30vmin;
  margin: 30px;
  pointer-events: none;
}

.Intro-instructions {
  background: #1b2027;
  border-radius: 5px;
  border: 1px solid #000;
  box-shadow: 1px 1px 1px #000;
  color: #e49723;
  cursor: pointer;
  font-size: 1em;
  margin: 20px 0;
  max-width: 400px;
  padding: 15px 40px;
  transition: box-shadow 200ms linear;
  &:hover,
  &:active {
    box-shadow: 1px 1px 6px #000;
    color: #f1cb85;
    outline: none;
  }
  &:focus {
    border-color: #e49723;
    outline: none;
  }
}

@media (prefers-reduced-motion: no-preference) {
  .Intro-logo {
    animation: Intro-logo-spin infinite 20s linear;
  }
  .is-processing .Intro-logo,
  .is-dropping .Intro-logo {
    animation: Intro-logo-spin infinite 2s linear;
  }
}

.is-dropping .Intro {
  background-color: $grey-medium2;
  border-color: $orange-light;
}

@keyframes Intro-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
