@import '_colors.scss';

.Intro {
  h1 {
    font-size: 2em;
    font-weight: 300;
    margin: 10px 40px;
  }
  h2 {
    font-size: 1em;
    font-weight: 300;
    margin: 10px 40px;
  }
}

a.Intro-by-link {
  font-size: 0.5em;
  color: $grey-extra-light;
}

.Intro-logo {
  height: 30vmin;
  margin: 30px;
  pointer-events: none;
}

.Intro-instructions {
  max-width: 600px;
}

@media (prefers-reduced-motion: no-preference) {
  .Intro-logo {
    animation: Intro-logo-spin infinite 20s linear;
  }
  .is-processing .Intro-logo,
  .is-dropping .Intro-logo {
    animation: Intro-logo-spin infinite 2s linear;
  }
}

.is-dropping .Intro {
  background-color: $grey-medium2;
  border-color: $orange-light;
}

@keyframes Intro-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
