@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

.Profile {
  background: #f1efea;
  border: 5px solid transparent;
  color: #27374c;
  font-family: Lato, 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
  font-feature-settings: 'kern', 'liga', 'pnum';
  line-height: 1.5;
  min-height: 100vh;
  padding: 50px;
}

.Profile-header {
  margin: 10px auto;
  max-width: 980px;
}

.Profile a {
  color: #287fb8;
  text-decoration: none;
}

.Profile a:active,
.Profile a:focus,
.Profile a:hover {
  color: #ed6504;
  text-decoration: none;
}

.Profile-tabs {
  margin: 0;
  padding: 0;
  list-style: none;
  padding: 10px 20px;
}

.Profile-tabs li {
  display: inline-block;
  margin: 10px 30px 10px 0;
  vertical-align: middle;
}

.Profile-tabs li a {
  background: none;
  border: 0;
  border-bottom: 2px solid transparent;
  color: #287FB8;
  cursor: pointer;
  font-size: 1em;
  margin: 0;
  outline: none;
  padding: 5px 0;
}

.Profile-tabs li a.is-active,
.Profile-tabs li a:hover,
.Profile-tabs li a:focus {
  color: #ed6504;
}
.Profile-tabs li a.is-active {
  border-color: rgba(0,0,0,0.15);
}

.Profile-tab-count {
  border-radius: 3.75em;
  color: #fff;
  background: #287FB8;
  display: inline-block;
  font-size: 0.8em;
  font-weight: bold;
  line-height: 1;
  margin-left: 10px;
  padding: 4px 7px;
  vertical-align: 1px;
}

.Profile-tabs li a.is-active .Profile-tab-count,
.Profile-tabs li a:hover .Profile-tab-count,
.Profile-tabs li a:focus .Profile-tab-count {
  background: #ed6504;
}

.is-dropping .Profile {
  background-color: #fdf7e7;
  border-color: #ed6504;
}

.is-dropping .Profile * {
  opacity: 0.8;
}

.promo {
  text-align: center;
  font-size: 1.5em;
  font-weight: 300;
  margin-top: 40px;
}

.promo .tr-logo {
  width: 50px;
}
