@import '_colors.scss';

.Profile-reference {
  padding: 30px 0;
  border-top: 1px solid $grey-light;
}

.Profile-reference-meta {
  display: flex;
  justify-content: space-between;
}

.Profile-reference-experience {
  font-weight: bold;
}

.Profile-reference-experience-positive {
  color: $experience-positive;
}

.Profile-reference-experience-neutral {
  color: $experience-neutral;
}

.Profile-reference-experience-negative {
  color: $experience-negative;
}

.Profile-reference-date {
  color: $grey-light3;
  font-size: 0.9em;
}

.Profile-reference-response {
  margin-left: 30px;
  border: 1px solid $grey-medium;
  margin-top: 1em;
  padding: 10px;
}
